body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    background-image: url('https://source.unsplash.com/WLUHO9A_xik/1600x900');
    font-size: 120%;
   
}

.card {
    background: white;
    background-color: white;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1rem;
    opacity: 0.4;
    
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0.5rem;
    border-radius: 50%;
    border: none;
    height: 46px;
    width: 46px;
    outline: none;
    background: #7c7c7c2b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border-radius: 18px;
    padding: 0.2em  1em;
    background: #7c7c7c2b;
    font-size: 120%;
    font-family: inherit;
    width: calc(100% - 100px);
}

button:hover {
    background: #7c7c7c6b;
}

h1.temp {
    margin: 0;
}

